.cartWidget{
    a{
        color: rgb(37, 45, 123);
        text-decoration: none;
        img{
            max-height: 5vh;
        }
        .cart-quantity{
            font-size: 40px;
        }
    }
}